<div>
    <h3>Player</h3>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Nickname</th>
            <th>Race</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="player in players">
            <td>{{player.name}}</td>
            <td>{{player.nickname}}</td>
            <td>{{player.race}}</td>
            <td><a href="#/players/{{player.id}}">Edit</a> <a href ng-click="deletePlayer(player)">Delete</a></td>
        </tr>
    </table>
    <a href="#/players-add-player">Add new player</a>
</div>